// Put styles here that are common to all pages

html {
    //fixes address bar pull-down on mobile
    height: 100vh;
}

body {
    background-color: var(--col-theme-background);
    overflow: auto scroll;
    @include webkit-scrollbar;

    .ba-tooltip{
        border-radius: 0.25rem;
    }
}

//fonts - only add chinese fonts when language is selected to avoid confliction

body {

    font-family: 'Nunito Sans', 'Noto Sans JP', sans-serif;

    .title-text {
        font-family: 'Oswald', 'Noto Sans JP', sans-serif;
        text-transform: uppercase;
    }

    .ba-tooltip{
        font-family: 'Nunito Sans', 'Noto Sans JP', sans-serif;
    }

    &.font-kr {
        &, .ba-tooltip {
            font-family: 'Nunito Sans', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
        }

        .title-text {
            font-family: 'Oswald', 'Noto Sans KR', 'Noto Sans JP', sans-serif;
            text-transform: uppercase;
        }
    }
    &.font-cn {
        &, .ba-tooltip {
            font-family: 'Nunito Sans', 'Noto Sans SC', 'Noto Sans JP', sans-serif;
        }

        .title-text {
            font-family: 'Oswald', 'Noto Sans SC', 'Noto Sans JP', sans-serif;
            text-transform: uppercase;
        }
    }
    &.font-tw {
        &, .ba-tooltip {
            font-family: 'Nunito Sans', 'Noto Sans TC', 'Noto Sans JP', sans-serif;
        }

        .title-text {
            font-family: 'Oswald', 'Noto Sans TC', 'Noto Sans JP', sans-serif;
            text-transform: uppercase;
        }
    }
    &.font-th {
        &, .ba-tooltip {
            font-family: 'Nunito Sans', 'Noto Sans Thai', 'Noto Sans JP', sans-serif;
        }

        .title-text {
            font-family: 'Oswald', 'Noto Sans Thai', 'Noto Sans JP', sans-serif;
            text-transform: uppercase;
        }
    }
}


p {
    white-space: pre-line;

    b, strong {
        font-weight: 700;
    }
}

#ba-background {
    position: fixed;
    top: 0px;
    background: var(--col-theme-background) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    filter: blur(0.75rem) brightness(var(--var-background-brightness));
    transform: scale(1.05);
    @include transition(background-image);
}

.gear-disabled {
    opacity: 0.7;
    filter: grayscale(1);
    pointer-events: none;
}

//utilities

.screen-height {
    max-height: calc(100vh - 2rem - 58px);
    overflow: hidden;

    .card-body {
        @include promote-layer;
        @include scrollable(auto);
        overflow-x: hidden;
    }
}

.sidebar {
    top: calc(56px + 1rem);
    @include md-up{
        position: sticky;
        position: -webkit-sticky;
    }
}

.circle {
    @include circular;
}

.unselectable {
    @include unselectable;
    img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }
}

.drop-shadow {
    @include drop-shadow;
}

.text-emphasis {
    color: var(--col-text-emphasis) !important;
    font-weight: 700;
    text-decoration: none;
}

.only-lt {
    opacity: var(--var-opacity-lightonly);
    transition: opacity ease var(--var-animation-duration);
}

.only-dk {
    opacity: var(--var-opacity-darkonly);
    transition: opacity ease var(--var-animation-duration);
}

.invert-light {
    @include transition(filter);
    filter: var(--var-invert-light) hue-rotate(var(--var-invert-light-hue));
}

.sharp-img {
    @include sharp-img;
}

.img-cover {
    object-fit: cover !important;
}

.img-contain {
    object-fit: contain !important;
}

// hide default clear button
input[type="search" i]::-webkit-search-cancel-button {
    appearance: none;
}

.changelog {
    a, h4, h5, h6 {
        @extend .text-emphasis;
    }
}

.dropdown-item-icon {

    @include flex(center, left);
    padding: 0.25rem 1rem 0.25rem 0.5rem;

    img {

        @include circular;
        height: 28px;
        width: 28px;
        object-fit: contain;

        margin-right: 0.5rem;
    } 

}

.bond-small {

    position: relative;
    margin-right: 2px;

    &::after {
        content: "";
        height: 16px;
        width: 16px;
        background-image: url(../images/ui/School_Icon_Schedule_Favor.png);
        background-size: cover;

        position: absolute;
        right: -4px;
        bottom: -2px;
    }
}

.input-small {

    position: relative;

    div {
        //stop icons blocking click event to focus the input
        pointer-events: none;
    }

    ::-webkit-inner-spin-button {
        display: none;
    }

    input {
        font-weight: bold;
        @include circular;
        padding: 0.25rem 0.5rem 0.25rem 34px;
        max-width: 80px;
        text-align: center;
    }

    .icon {

        position: absolute;
        top: 2px;
        left: 2px;

        img {
            height: 28px;
            width: 28px;
            object-fit: cover;
            background-color: var(--col-bg-item-n);
            border-radius: 999px;
        }
    }

    .controls {

        cursor: pointer; 
        position: absolute;
        height: 12px;
        right: 12px;
        line-height: 12px;

        opacity: 0.6;
        @include transition(opacity);

        &:hover {
            opacity: 1;
        }

        &.increment {
            top: 4px;
        }
    
        &.decrement {
            bottom: 4px;
        }

    }
}

.btn-pill {

    @extend .bg-theme;

    height: 32px;
    max-width: 100%;
    border: none;

    position: relative;
    @include flex(center, center);
    cursor: pointer !important;

    @include circular;
    @include unselectable;

    font-weight: 600;
    white-space: nowrap;

    padding: 0 2px;

    color: var(--col-theme-text);
    text-decoration: none;

    .icon {
        @include flex(center, center);
        height: 28px;
        width: 28px;
        position: relative;

        img {
            object-fit: contain;
            @include circular;
        }

        .icon-compare {
            position: absolute;
            right: -4px;
            bottom: -2px;
            height: 16px;
            width: 16px;
            @include circular;
            background-color: rgba(0,0,0,.5);
            background-image: url(../images/ui/Image_Compare.png);
            background-size: cover;
        }
    }

    .label {
        @include flex(center, center);
        @include truncate-text;
        padding: 0 10px 0 8px;
    }

    .on {
        display: block;
    }

    .off {
        display: none;
    }

    .skill-plus {
        color: #ffffff;
        position: absolute;

        top: 0px;
        right: -4px;

        height: 12px;
        width: 12px;
        
        @include circular;
        @include flex(center, center);

        font-size: 8px;
    }

    &:hover {
        background-color: var(--col-btn-secondary);
    }

    &.deactivated {
        color: var(--col-panel-separator);

        .label {
            img, .stack-count {
                opacity: 0.5;
                filter: grayscale(1);
            }
        }

        .on {
            display: none;
        }

        .off {
            display: block;
        }

        .icon {
            opacity: 0.5;
            filter: grayscale(1);
        }

        // img, :after, .skill-plus {
            
        //     // opacity: 0.5;
        //     filter: grayscale(1) contrast(0.5);
            
        //     &.invert-light {
        //         filter: grayscale(1) var(--var-invert-light) hue-rotate(var(--var-invert-light-hue)) !important;
        //     }
        // }
        
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    
    a.ba-statpreview-icon {
        display: flex;
        cursor: pointer !important;
        height: 32px;
        width: 32px;
        @include circular;
        color: var(--col-theme-text);
        text-decoration: none;
        font-size: 16px;
    
        &:hover {
            background-color: var(--col-btn-secondary);
        }
    
        &.deactivated {
            color: var(--col-panel-separator);
    
            img {
                opacity: 0.5;
            }
        }
    }
}

#navbar-search {

    .search-clear {
        text-align: center;
        position: absolute;
        top: 11px;
        right: 11px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
    
    .shortcut-hint {
        @include unselectable;
        pointer-events: none;
        position: absolute;

        right: 5px;
        top: 5px;

        height: 28px;
        width: 28px;
        text-align: center;

        color: var(--col-theme-text-t);
        background-color: var(--col-theme-accent);
        border-radius: 0.25rem;

        padding: 0.125rem 0.5rem;

    }

    &.has-text .shortcut-hint {
        display: none;
    }

}

.stat-icon {

    @include drop-shadow;
    margin-top: -2px;
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin-right: 0.5rem;
    

    img {
        @include unselectable;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.85;
        background-color: rgba(0, 0, 0, 0.4);
        @include circular;
    }
}

.skill-icon {

    position: relative;
    @include drop-shadow;

    &.small {

        img {
            width: 54px;
            height: 54px;
        }

        .plus {
            width: 18px;
            height: 18px;
            padding: 3px;

            line-height: 12px;
            font-size: 12px;
        }
    }

    img {
        width: 64px;
        height: 64px;
        object-fit: contain;
        object-position: center;
        @include circular;
    }

    .plus {
        position: absolute;
        right: -4px;
        top: 2px;

        width: 20px;
        height: 20px;

        @include circular;

        color: #ffffff;
        padding: 2px;
        line-height: 16px;
        font-size: 16px;
        text-align: center;
    }

}

#ba-student-stat-modal-table {
    .stat-name {
        @include truncate-text;

        @include xxs-down {
            display: none;
        }
    }
}

.ba-stats {

    &.striker-bonus .row >div:nth-child(-n+4) {
        color: var(--col-text-emphasis);

        .stat-help {
            display: none;
        }
    }

    &.compare {
        .stat-name {
            @include sm-down {
                display: none;
            }
        }
    }

    .row >div {
        position: relative;
        padding: 0.5rem;
    }

    .stat-icon {

        @include drop-shadow;
        margin-top: -2px;
        width: 26px;
        min-width: 26px;
        height: 26px;
        margin-right: 0.5rem;
        

        img {
            @include unselectable;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.85;
            background-color: rgba(0, 0, 0, 0.4);
            @include circular;
        }
    }

    .stat-name {
        @include truncate-text;
    }

    .stat-value {
        margin-left: 0.5rem;
        text-align: right;
        font-weight: 700;
        min-width: fit-content;

        .comparison {
            font-size: 0.75rem;
            min-width: 3.5rem;
            display: inline-block;
            text-align: left;
            margin-left: 0.5rem;

            &.greater {
                color: var(--col-text-compare-greater);
            }
    
            &.less {
                color: var(--col-text-compare-less);
            }
        }

        .stat-base {
            display: inline-block;
            //min-width: 4rem;
            font-weight: 400;
        }
        .stat-flat {
            display: inline-block;
            min-width: 4.5rem;
            font-weight: 400;
            color: var(--col-text-emphasis)
        }

        .stat-coefficient {
            display: inline-block;
            min-width: 4rem;
            font-weight: 400;
            color: var(--col-text-emphasis)
        }
        .stat-final {
            display: inline-block;
            min-width: 4.5rem;
        }

        .zero {
            color: var(--col-theme-text-t) !important;
        }

        .negative {
            color: var(--col-text-compare-less) !important;
        }
    }

    .has-tooltip {
        text-decoration: underline dotted 2px var(--col-theme-text-t);
        text-underline-position: under;
        cursor: help;
        @include transition(text-decoration-color);

        &:hover {
            text-decoration-color: var(--col-theme-text);
        }
    }

}

.no-wrap {
    white-space: nowrap;
}

.ba-slider-label {

    @extend .bg-theme;

    min-width: 60px;
    height: 32px;
    
    @include flex(center, center);
    cursor: default;
    font-weight: bold;

    @include circular;

    padding: 0.1rem 0.5rem;

    color: var(--col-theme-text);

    @include unselectable;

    img {
        height: 18px;
        width: auto;
    }
}

#toast-message-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9998;
    pointer-events: none;
}

#toast-message {
    color: rgb(255, 255, 255);
    backdrop-filter: var(--var-glass-filter);
    @include transition(transform, opacity);
    transform: translateY(-30px);
    opacity: 0;

    &.success {
        background-color: var(--col-bg-msg-success);
    }

    &.alert {
        background-color: var(--col-bg-msg-alert);
    }

    &.failure {
        background-color: var(--col-bg-msg-failure);
    }

    &.show {
        transform: translateY(48px);
        opacity: 1;
    }
}

.panel-alert {
    border-radius: 0.25rem;
    background-color: var(--col-bg-msg-alert);
}

.panel-failure {
    border-radius: 0.25rem;
    background-color: var(--col-bg-msg-failure);
}

#settings-dropdown-menu {
    width: 360px;

    @include sm-down {
        width: calc(100% - 1rem);
        position: fixed;
        left: 0.5rem;
        top: 46px;
    }
}

.inline-img {
    display: inline;
    height: 24px;
    margin-top: -4px;
    width: auto;
    @include sharp-img;
}

textarea {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    border: none;
    outline: 0;
    resize: none;
}