// Put all Bootstrap CSS overrides here


// Buttons

.btn-dark {
    background-color: var(--col-theme-accent);
    color: var(--col-btn-primary);
    border-color: transparent !important;
    box-shadow: none !important;
    position: relative;
    font-weight: 600;

    &:focus {
        background-color: var(--col-theme-accent);
        color: var(--col-btn-primary);
    }

    &:hover {
        background-color: var(--col-btn-secondary);
        color: var(--col-btn-primary);
    }

    &.active {
        background-color: var(--col-btn-active-secondary);
        color: var(--col-btn-active-primary);
        z-index: 5 !important;
    }

    &.disabled, &:disabled {
        background-color: var(--col-theme-accent);
        color: var(--col-btn-primary);
        opacity: 0.5;
    }

}

.dropdown-menu {
    .btn-dark {
        &:hover {
            background-color: var(--col-btn-secondary-dropdown);
        }

        &.active {
            background-color: var(--col-btn-active-secondary);
        }
    }
}

// Dropdowns

.dropdown-menu-dark {
    color: var(--col-btn-primary);
    background-color: var(--col-theme-background);
    border-color: var(--col-theme-accent);
    @include transition(background-color);
    min-width: 5rem;

    .dropdown-item {
        color: var(--col-btn-primary);
        background-color: var(--col-theme-background);

        &:hover {
            color: var(--col-btn-primary);
            background-color: var(--col-theme-accent);
        }

        &:active, &.active {
            color: var(--col-btn-active-primary);
            background-color: var(--col-btn-active-secondary);
        }
    }
}

.dropdown-toggle::after {
    //content: "<i class='caret fa-solid fa-caret-down me-2'></i>";
    //display: none;
}

// Navs

.nav {
    font-weight: 400;
}

.nav-pills {
    .nav-link {
        color: var(--col-theme-text);
        word-break: keep-all;
        white-space: nowrap;

        &.active {
            color: var(--col-btn-active-primary);
            background-color: var(--col-btn-active-secondary);
        }

        &:hover {
            background-color: var(--col-theme-accent);

            &.active {
                background-color: var(--col-btn-primary);
            }
        }
    }
}

.navbar-dark {
    @include promote-layer;
    @include transition(background-color, backdrop-filter);
    backdrop-filter: var(--var-glass-filter-navbar);
    background-color: var(--col-theme-glass-navbar) !important;
    color: var(--col-theme-text);

    @include sm-down {
        >.container-xl {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }

    .navbar-brand {
        &, &:hover {
            color: var(--col-theme-text);
        }
    }

    .navbar-nav .nav-link {
        color: var(--col-theme-text) !important;
        cursor: pointer;

        &.active {
            background-color: var(--col-theme-accent);
            border-radius: 0.25rem;
        }
    }
}

// Forms

.form-control {
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    border: none;
    outline: 0;
    box-shadow: none;

    &:focus {
        color: var(--col-theme-text);
        background-color: var(--col-theme-accent);
        border: none;
        outline: 0;
        box-shadow: none;
    }

    &::placeholder {
        font-style: italic;
        color: var(--col-theme-text-t);
    }

    &:disabled {
        background-color: var(--col-theme-accent);
        opacity: 0.5;
    }
}

.form-select {
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    border-color: transparent !important;
    box-shadow: none !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

    option {
        background-color: var(--col-theme-background);
        color: var(--col-theme-text);
    }
}

.theme-dark {
    .form-select {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    }
}

// Cards

.card {
    backdrop-filter: var(--var-glass-filter);
    background-color: var(--col-theme-glass);
    font-weight: 400;
    color: var(--col-theme-text);
    border: none;
    @include transition(background-color, color);
    pointer-events: auto;
}

.card-header {
    background-color: transparent;
    padding: 0.5rem;
    border-bottom: none;
}

.card-body {
    background-color: transparent;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.5rem;
}

// Range Input

::-webkit-slider-thumb {
    background-color: var(--col-theme-text) !important;
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px var(--col-theme-text), 0 0 0 0.25rem var(--col-btn-primary-glow);
}

::-webkit-slider-runnable-track {
    background-color: var(--col-theme-accent) !important;
}

// ::-webkit-inner-spin-button {
//     -webkit-appearance: none;
// }


::-moz-range-thumb {
    background-color: var(--col-theme-text) !important;
}

::-moz-range-track {
    background-color: var(--col-theme-accent) !important;
}

// Toggle Input

.form-check-input:checked {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.form-check-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

// Modals

.modal {
    @include scrollable(auto);
}

.modal-dialog {
    @include lg-up {
        padding: 1.5rem 0;
        margin: 0 auto;
        height: 100%;
    }

    transition: transform .15s ease-out !important;
}

.modal-body {
    @include lg-up {
        @include scrollable(auto);
    }
}

.modal-content {
    background-color: var(--col-theme-glass-modal);
    backdrop-filter: var(--var-glass-filter);
    color: var(--col-theme-text);
    height: 100%;
    border: none;
}

.modal-xl {
    @include xxl-up {
        max-width: 1340px;
    }
}

.modal-xxl {
    @include xxl-up {
        max-width: 1680px;
    }
}

.btn-close {
    filter: var(--var-invert-dark) grayscale(100%) brightness(200%);
}

// flex custom

.gap-1 {
    gap:0.25rem;
}

.gap-2 {
    gap:0.5rem;
}

.gap-3 {
    gap:1rem;
}