#ba-student-modal-students {
    @include lg-up {
        .modal-body {
            height: 100%;
        }
    }
}

#ba-student-modal-page {
    height: 100%;
    flex-wrap: nowrap;

    @include md-down {
        display: flex;
        flex-direction: column;
    }
}

#ba-student-usescover-icon {
    height: 24px;
    width: auto;
    margin: -4px 0 0 -4px;
}

.ba-weapon-label {
    display: inline-block;
    font-weight: 600;
    font-style: italic;
    font-size: large;
}

.ba-statpreview-star {

    transition: color var(--var-animation-duration) ease, opacity var(--var-animation-duration) ease;

    &.active {
        color: var(--col-text-stars);
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.125));
    }

    &:hover {
        color: var(--col-text-stars);
        opacity: 0.5
    }
}

.ba-weaponpreview-star {

    transition: color var(--var-animation-duration) ease, opacity var(--var-animation-duration) ease;

    &.active {
        color: var(--col-text-weaponstars);
        filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.125));
    }

    &:hover {
        color: var(--col-text-weaponstars);
        opacity: 0.5
    }
}

.statpreview-student-title {
    font-weight: 400;
    @include truncate-text;
}

.statpreview-student-icon {
    width: 36px;
    height: 36px;
    @include circular;
}

#ba-statpreview-status-title-compare {
    display: inline-block;
    padding-right: 0;
    
    @include truncate-text;
    max-width: 110px;
    @include md-down {
        display: none !important;
    }
}

.summon-list {

    min-width: 0;

    .summon-list-active-name {
        display: inline-block;
        @include truncate-text;
    }

    &.disabled {
        pointer-events: none;

        .dropdown-menu {
            display: none;
        }

        .caret {
            display: none;
        }
    }
}


#ba-statpreview-status-title-compare-icon {
    width: 28px;
    height: 28px;
    @include circular;
}

#ba-student-search-reset {
    height: 100%;
    padding: 0.2rem 0.6rem;

    i {
        font-size: 1.2rem;
        margin-top: 6px;
    }
}

#ba-info-statpreview-panel {
    @include md-up {
        height: 100%;
        flex-wrap: nowrap;
        gap: 0.5rem;
    }

    @include md-down {
        padding: 0.5rem;
    }

    .panel-sliders {
        display: flex;
        flex-direction: column;

        flex-grow: 1;

        .tab-content {
            padding: 0 0.5rem;

            @include lg-up {
                @include scrollable(scroll);
            }
        }

    }

    .panel-stats {
        @include scrollable(auto);
        @include lg-up {
            max-width: 420px;
            min-width: 420px;
        }
        @include xl-up {
            min-width: 450px;
            max-width: 450px;
        }
        @include xxl-up {
            min-width: 480px;
            max-width: 480px;
        }
        padding: 0 0.5rem;
    }
}

.student-portrait-buttons {
    position: sticky;
    top: calc(56px + 1rem);
    display: flex;
    gap: 0.5rem;

    @include sm-down {
        justify-content: space-between;
        top: calc(56px + 0.5rem);
    }
}

.skill-hitinfo {
    text-decoration: underline dotted 2px;
    text-underline-position: under;
    text-underline-offset: -2px;
    cursor: help;
    @include transition(text-decoration-color);

    &.ba-col-explosion {
        text-decoration-color: var(--col-text-explosive-t);
        &:hover {
            text-decoration-color: var(--col-text-explosive);
        }
    }
    &.ba-col-pierce {
        text-decoration-color: var(--col-text-piercing-t);
        &:hover {
            text-decoration-color: var(--col-text-piercing);
        }
    }
    &.ba-col-mystic {
        text-decoration-color: var(--col-text-mystic-t);
        &:hover {
            text-decoration-color: var(--col-text-mystic);
        }
    }


}

#ba-student-attributes {
    order: 1;
    max-width: 100%;
    flex-basis: 100%;
    gap: 0.25rem 0.5rem;

    @include xxl-up {
        flex: 1;
        flex-basis: 50%;
        gap: 0.5rem;
    }
}

#ba-student-terrain {
    order: 2;

    @include xl-down {
        order: 3;
    }
}

#ba-student-weapon {
    order: 3;

    @include xl-down {
        order: 2;
    }
}

#ba-student-gear {
    order: 4;
}

#ba-student-academy {
    max-width: 100%;

    span {
        white-space: normal;
        @include truncate-text;
    }
}

.transferable-skill-icon {

    position: relative;

    .student-icon {
        height: 40px;
        min-width: 40px;
        margin-right: 8px;
        @include circular;
    }

    .skill-icon {
        position: absolute;
        left: 24px;
        top: 22px;
        height: 24px;
        width: 24px;
        @include circular;
    }
}

#ba-student-modal-statpreview {
    .modal-body {
        padding-top: 0;
        overflow-y: hidden;
    }
}

.search-list-container {
        
    height: 320px;
    display: flex;
    flex-direction: column;
    z-index: 100;

    &[data-popper-placement^='top'] {
        justify-content: end;
    }

    &[data-popper-placement^='bottom'] {
        justify-content: start;
    }

    .search-list {

        max-height: 100%;
        background-color: var(--col-btn-secondary);
        border: 1px solid var(--col-theme-accent);

        padding: 0.5rem 0.25rem 0.5rem 0.5rem;
        border-radius: 0.25rem;
        z-index: 200;
        
        @include drop-shadow;

        >div {
            
            max-height: 100%;
            padding-right: 0.25rem;
            @include scrollable(auto);

            .search-list-item {
                display: flex;
                padding: 0.5rem 0.25rem;
                cursor: pointer;
                border-radius: 0.25rem;
                color: var(--col-theme-text);
                position: relative;
                @include unselectable;

                small {
                    font-style: italic;
                }
        
                &:hover, &.selected {
                    background-color: var(--col-btn-active-secondary);
                    color: var(--col-btn-active-primary);
                }
        
                &.disabled {
                    
                    pointer-events: none;
                    opacity: 0.6;
        
                    img {
                        filter: grayscale(1);
                    }
                }

                .search-list-item-icon {

                    margin-right: 0.5rem;

                    img {
                        width: 42px;
                        height: 42px;
                        @include circular;
                    }

                }
        
                .search-list-item-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    .text-small {
                        font-size: 0.75rem;
                    }
                    .skill-details {
                        font-size: 0.875rem;
                    }
        
                }
        
            }

        }

    }

}

#statpreview-buff-transferable-controls {

    &.disabled {
        .ba-panel {
            filter: grayscale(1);
            opacity: 0.5;
            pointer-events: none; 
        }
    }

    .transferable-skill-icon {
        .student-icon {
            height: 52px;
            min-width: 52px;
            margin-bottom: 8px;
            @include drop-shadow;
        }
    
        .skill-icon {
            left: 32px;
            top: 30px;
            height: 28px;
            width: 28px;
        }
    }

    small {
        font-size: 0.75em;
        font-style: italic;
    }

    .buff-description .invalid {
        text-decoration: line-through;
        opacity: 0.6;
    }

    .stack-count {
        cursor: pointer;

        &:hover {
            background-color: var(--col-btn-secondary);
        }

        img.stack-icon {
            height: 22px;
            width: auto;
            margin-top: -2px;
            margin-left: -4px;
        }
    }
}

.stat-panel-btn-sm {
    padding: 0.25rem;
    line-height: 0px;
    @include circular;

    i {
        width: 14px;
        height: 14px;
    }
}

#statpreview-buff-custom {

    .name-input {
        width: auto;
    }

}

.disabled .header-toggle {
    pointer-events: none;
}

.header-toggle {

    @include flex(center, left);

    cursor: pointer;

    margin-bottom: 0.5rem;

    h5 {
        margin-bottom: 0;
        @include unselectable;
    }

    .on, .off {
        margin-right: 0.125rem;
        font-size: 1.25rem;
        @include transition(opacity);
    }

    .on {
        display: none;
        opacity: 1;
    }

    .off {
        display: inline-block;
        opacity: 0.5;
    }

    &:hover {
        .off, .on {
            opacity: 0.8 !important;
        }
    }

    &.checked {
        .off {
            display: none;
        }
    
        .on {
            display: inline-block;
        }
    }
}

.active-buffs {

    @include flex(center, start);
    @include circular;

    height: 32px;

    .active-buff {
        position: relative;
        margin-left: 2px;

        img {
            height: 26px;
            width: 22px;
        }
    
        .stack-count {
            position: absolute;
            right: -2px;
            top: -4px;
    
            font-size: 14px;
            color: #fff;
            text-shadow: -1px 1px 4px #000;
            font-style: italic;
            font-weight: bold;
            @include unselectable;
    
            &::before {
                content: "\00D7";
                font-size: 10px;
            }
        }
    }
}

.support-stats {

    position: relative;

    img {
        width: 52px;
        height: 52px;
        margin-right: 4px;
        margin-bottom: 4px;
        @include circular;
        @include card-shadow;
    }

    &::after {
        content: "";
        height: 24px;
        width: 24px;
        background-image: url(../images/ui/Special_StatBonus.png);
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--col-bg-special);

        padding: 3px;

        @include circular;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}