@import 'variables';
@import 'theme';
@import 'mixins';

@import 'overrides';
@import 'common';
@import 'grid';
@import 'students';
@import 'items';
@import 'stages';
@import 'raids';

#ba-content {
    width: 100%;
    position: relative;
    top: 56px !important;
}

#ba-item-rarity {
    font-weight: 700;
}

#ba-item-icon {
    height: 84px;
    width: 84px;
    min-height: 84px;
    min-width: 84px;
    padding: 5px;
    @include circular;
}

#ba-craft-icon {
    height: 76px;
    width: 76px;
    min-height: 76px;
    min-width: 76px;
    padding: 14px;
    @include circular;
}

#ba-item-icon-img, #ba-craft-icon-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include sharp-img;  
}

#ba-profile-school-label {
    font-weight: 700;
    margin-bottom: 0px;
    margin-right: 0.25rem;
}

#ba-profile-portrait-img {
    height: 96px;
    width: auto;
    border-radius: 8px;
}

#ba-profile-schoolyear-label {
    background-color: rgb(245, 233, 75);
    @include circular;
    font-weight: 600;
    padding: 0 0.5rem;
    color: rgb(44, 69, 99);
    margin-bottom: 0px;
    white-space: nowrap;
    cursor: default;
}

#ba-profile-club-label {
    font-weight: 400;
    margin-bottom: 0px;
}

.ba-statpreview-star, .ba-weaponpreview-star {
    height: 22px;
    width: auto;
    margin-bottom: 0.25rem;
    color: var(--col-panel-separator);
    cursor: pointer;
    font-size: large;
}



h1 small {
    font-size: 0.7em;
}

.text-bold {
    font-weight: 700 !important;
}

.text-italic {
    font-style: italic !important;
}

.ba-panel-separator {
    border-top: var(--col-panel-separator) 1px solid;
    min-width: 100%;
}

.ba-panel-separator-vertical {
    border-left: var(--col-panel-separator) 1px solid;
    min-height: 100%;
}

.ba-bg-theme {
    background-color: var(--col-theme-accent);
    transition: background-color ease var(--var-animation-duration);
}

.ba-student-info {
    position: relative;
    white-space: nowrap;
    cursor: default;
    border-radius: 999px !important;
    padding: 0.25rem 1rem;
    margin: 0 0.4rem 0.25rem 0;
}

.ba-student-info-s {
    position: relative;
    white-space: nowrap;
    cursor: default;
    border-radius: 999px !important;
    padding: 0rem 0.6rem;
    margin: 0 0.25rem 0.25rem 0;
}

.ba-info-pill {
    font-weight: 600;
    height: 32px;
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    white-space: nowrap;
    cursor: default;
    @include circular;
    margin: 0 0.4rem 0.25rem 0;
    
    span {
        padding: 0.25rem 0.5rem;
    }
}

.ba-info-pill-s {
    @extend .ba-info-pill;
    //display: inline-block;
    height: 24px;
    padding: 0rem 0.6rem;
    margin: 0 0.25rem 0.25rem 0;

    span {
        padding: 0;
    }
}

.bg-theme {
    background-color: var(--col-theme-accent);
    @include transition(background-color);
}

#ba-student-position {
    font-weight: 600;
    font-style: italic;
    background-color: var(--col-bg-position);
    color: #fff;
}

#ba-student-attacktype img, #ba-student-defensetype img, #ba-raid-attacktype img, #ba-raid-defensetype img, #ba-stage-enemy-attacktype img, #ba-stage-enemy-defensetype img {
    height: 18px;
}

#ba-student-attacktype, #ba-student-defensetype {
    color: #ffffff;
}

.ba-type-weapon {
    height: 78px;
    min-width: 198px;
    padding: .1rem .5rem !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 24px;
}

.ba-type-terrain {
    display: inline-block;
    padding: 3px;
    margin: auto;
}

.ba-student-terrain-icon {
    height: 34px;
    width: 34px;
}

.ba-student-affinity-icon {
    height: 30px;
    width: 30px;
    margin: 6px 2px 2px 2px;
}

.ba-student-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-image: url("../images/ui/Card_Bg.png");
    background-size: cover;
    transition-duration: 300ms;
}

.ba-student-icon {
    position: relative;
    height: 74px;
    padding: 3px;
    margin: 0px 0px 36px -10px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.ba-btn-img-noinvert {
    height: 22px;
    position: absolute;
    left: 4px;
    top: 3px;
    @include sharp-img;
}

.ba-btn-img {
    will-change: filter;
    height: 22px;
    position: absolute;
    left: 4px;
    top: 3px;
    transition: opacity ease var(--var-animation-duration), filter ease var(--var-animation-duration);
    filter: var(--var-invert-light) hue-rotate(var(--var-invert-light-hue));
}

.active >.ba-btn-img {
    filter: var(--var-invert-dark) hue-rotate(var(--var-invert-dark-hue));;
}

#navbar-logo {
    filter: invert(1);
}

.theme-dark #navbar-logo {
    filter: invert(0);
}

.navbar-accent {
    color: var(--col-theme-logo)
}

.ba-btn-label {
    margin-left: 20px
}


.ba-class-striker, .ba-class-main {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    @include transition(background-color, color);
    background-color: var(--col-bg-striker);
    color: var(--col-text-striker);
}

.ba-class-special, .ba-class-support {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    @include transition(background-color, color);
    background-color: var(--col-bg-special);
    color: var(--col-text-special);
}

.bg-atk-explosion, .bg-def-lightarmor {
    background-color: var(--col-bg-explosive);
    color: #fff;
}

.bg-atk-pierce, .bg-def-heavyarmor {
    background-color: var(--col-bg-piercing);
    color: #fff;
}

.bg-atk-mystic, .bg-def-unarmed {
    background-color: var(--col-bg-mystic);
    color: #fff;
}

.bg-atk-normal, .bg-def-normal {
    background-color: var(--col-bg-normal);
    color: #fff;
}

.bg-striker-t, .bg-main-t {
    background-color: var(--col-bg-striker-t);
}

.bg-special-t, .bg-support-t {
    background-color: var(--col-bg-special-t);
}

.bg-atk-explosion-t, .bg-def-lightarmor-t {
    background-color: var(--col-bg-explosive-t);
}

.bg-atk-pierce-t, .bg-def-heavyarmor-t {
    background-color: var(--col-bg-piercing-t);
}

.bg-atk-mystic-t, .bg-def-unarmed-t {
    background-color: var(--col-bg-mystic-t);
}

.ba-gear-icon {
    height: 64px;
    width: 64px;
    margin-left: 0;
    object-fit: cover;
    object-position: center;
    @include circular;
    @include unselectable;
    padding: 3px;
}

.ba-gear-icon-s {
    @extend .ba-gear-icon;
    @include drop-shadow;

    height: 54px;
    width: 54px;
    margin: 0;
}

.ba-gear-label {
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    right: 0px;
    padding: 0.1rem 0.25rem;
    top: 54px;
    border: 1px solid #d4d9e2;
}

.ba-item-icon {
    height: 64px;
    width: 64px;
    padding: 3px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    object-fit: cover;
    @include circular;
    @include sharp-img;
}

.ba-item-n {
    background-color: var(--col-bg-item-n);
}

.ba-item-r {
    background-color: var(--col-bg-item-r);
}

.ba-item-sr {
    background-color: var(--col-bg-item-sr);
}

.ba-item-ssr {
    background-color: var(--col-bg-item-ssr);
}

.col-item-n {
    color: var(--col-bg-item-n);
}

.col-item-r {
    color: var(--col-bg-item-r);
}

.col-item-sr {
    color: var(--col-bg-item-sr);
}

.col-item-ssr {
    color: var(--col-bg-item-ssr);
}

.ba-item-select-item {
    max-width: 64px;
    max-height: 64px;
    margin: auto;
}

.ba-item {
    height: 64px;
    width: 64px;
    transition: filter var(--var-animation-duration) ease;
    padding: 3px;
    @include circular;
    overflow: hidden;
}

.ba-item-student {
    height: 60px;
    width: 60px;
    transition: filter var(--var-animation-duration) ease;
    @include circular;
    overflow: hidden;
    margin: 0.25rem;
}

.ba-item-student img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* @include sharp-img; */
}

.ba-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform var(--var-animation-duration) ease;
    @include sharp-img;
}

.ba-item:hover {
    filter: brightness(0.8);
}

.ba-item:hover img {
    transform: scale(1.15);
}

.ba-material-label {
    font-weight: 400;
    font-style: italic;
    position: absolute;
    background-color: var(--col-btn-secondary);
    color: var(--col-btn-primary);
    border-radius: 1rem;
    right: 0px;
    padding: 0.1rem 0.25rem;
    bottom: 0.5rem;
    cursor: default;
}

.ba-favor-label {
    height: 28px;
    width: auto;
    display: inline-block;
    position: absolute;
    right: -4px;
    top: 42px;
}

.ba-skill {
    height: 64px;
    min-width: 64px;
    object-fit: contain;
    object-position: center;
    @include circular;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; */
}


.ba-raid-skill {
    height: 64px;
    min-width: 64px;
    object-fit: contain;
    object-position: center;
}

.bg-skill {

    &.explosion {
        background-color: var(--col-bg-explosive);
    }
    
    &.pierce {
        background-color: var(--col-bg-piercing);
    }
    
    &.mystic {
        background-color: var(--col-bg-mystic);
    }

}

.ba-panel {
    @extend .bg-theme;
    border-radius: 0.25rem;

    &.disabled {
        filter: grayscale(1);
        opacity: 0.5;
    }

    &.statpreview-stars {
        font-size: 0px;
        height: 32px;
        @include circular;
    }

}

#ba-statpreview-gear:not(.disabled) {
    div.disabled {
        filter: grayscale(1);
        opacity: 0.5;
    }
}

.ba-stats {
    background-color: var(--col-theme-accent);
    border-radius: 0.25rem;
    color: var(--col-theme-text);
    table-layout: fixed;
    transition: background-color ease var(--var-animation-duration);
}

.ba-stats td {
    border: none;
}

.ba-buff-icon {
    /* @include sharp-img; */
    position: absolute;
    top: 0px;
    height: 22px;
    width: auto;
}

// #ba-student-school {
//     @include flex(center, center);
//     flex-direction: column;

//     height: 78px;
//     min-width: 100px;

//     img {
//         height: 50px;
//     }
// }

hr {
    flex-basis: 100%;
    height: 0 !important;
    margin: 0;
    border: none; 
}

.ba-bond-icon {

    img {
        width: 52px;
        height: 52px;
        margin-right: 4px;
        margin-bottom: 4px;
        object-fit: cover;
        object-position: top;
        @include circular;
        @include card-shadow;
    }

    &::after {
        content: "";
        height: 24px;
        width: 24px;
        background-image: url(../images/ui/School_Icon_Schedule_Favor.png);
        background-size: contain;

        position: absolute;
        right: 0;
        bottom: 0;
    }
}

#ba-student-img {
    @include sharp-img;
    @include promote-layer;
    transform: translate(0);
    position: fixed;
    margin-top: 0.5rem;
    height: calc(100vh - 56px - 3rem);
    background: transparent no-repeat center top/contain;
    pointer-events: none;
}

#ba-student-weapon-img {
    width: 100%;
    @include sharp-img;
}

.label-qty {
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    background-color: var(--col-btn-primary);
    color: var(--col-btn-secondary);
    border-radius: 1rem;
    left: 4px;
    padding: 0.15rem 0.25rem;
    top: 0.2rem;
}

#ba-item-list, #ba-stages-list, .ba-item-list {
    @include promote-layer;
    font-size: 0;
}

#ba-raid-header {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    @include sharp-img;
}

#ba-raid-difficulty a, #ba-timeattack-difficulty a, #ba-worldraid-difficulty a {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    padding: 0.5rem 0.25rem;
}

a.nav-link.disabled {
    color: var(--col-panel-separator)
}

#ba-student-search-filters {
    min-width: 338px;
    max-width: 338px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0;
    padding-bottom: 0;
}

#ba-student-search-filters-panel {
    @include scrollable(auto);
}

.btn-search-filter {
    margin: 0 0.25rem 0.25rem 0;
}

#ba-student-search-results {
    @include promote-layer;
    @include scrollable-nostyle(auto);

    @include md-up {
        @include scrollable(scroll);
        padding: 0.5rem;
    }
    
}

@media(max-width: 991px) {
    
    #ba-navbar-content.collapse.show, #ba-navbar-content.collapsing {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #navbar-search, #ba-navbar-search, #navbar-search-results {
        width: 100% !important;
    }

    .modal-body {
        padding: 0;
        overflow-y: overlay !important;
    }

    .ba-icon-enemy {
        width: 105px !important;
        height: 95px !important;
    }

    #ba-student-modal-page {
        height: 100%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
    }

    #ba-student-search-filters {
        min-width: 336px;
        max-width: none;
        padding: 1rem 1rem 0 1rem;
        margin-right: 0;
        flex: none;
    }

    #ba-student-search-filters-panel {
        overflow-y: hidden;
    }
}

@media(max-width: 767px) {

    .screen-height.mobile-scroll {
        max-height: calc((100vh - 74px) * 0.75);
    }

    .screen-height {
        max-height: none;
        overflow: hidden;

        .card-body {
            padding: 0.5rem 0;
        }
    }

    #ba-student-img {
        height: 450px;
        top: 64px;
        margin-top: 0;
    }

    .ba-page {
        padding: 0.5rem;
    }

    .ba-student-page {
        overflow-y: none;
        scrollbar-width: none;
        max-height: inherit;
        min-height: calc(100vh - 105px)
    }

    .ba-raid-page {
        overflow-y: none;
        scrollbar-width: none;
        max-height: inherit;
        min-height: calc(100vh - 11.5rem - 2.2vw)
    }

    .card {
        border: 0px;
    }

    .card-header .nav-tabs .nav-link.active {
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .card-body {
        border-radius: 0px;
        padding: 0.5rem 0 0 0;
    }

    .card-header {
        /* position: sticky; */
        padding: 0 0 0.5rem 0;
        top: 55px;
        z-index: 1000;
        transition: background-color ease var(--var-animation-duration);
        
    }

    .card-header:first-child {
        border-radius: 0px;
    }

    #ba-background {
        /* height: calc(100vh - 8rem); */
        transform: scale(1.2);
    }
}

.ba-student-lobby {
    position: relative;
}

#ba-student-lobby-img {
    height: 78px;
    width: 78px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
    @include circular;
    object-fit: cover;
    object-position: center;
}

#ba-student-lobby-unlock {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-image: url('../images/ui/School_Icon_Schedule_Favor.png');
    background-size: contain;
    text-align: center;
    color: #fff;
    line-height: 32px;
    position: absolute;
    left: 56px;
    top: 50px;
    font-weight: 700;
}

.ba-skill-materials, .ba-skill-ex-materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#loading-cover {
    /* display: none; */
    width: 100vw;
    height: 100vh;
    padding-top: 50vh;
    position: fixed;
    top: 0px;
    z-index: 9999;
    background-color: rgb(33, 37, 41);
}

.ba-skill-buff, .ba-skill-debuff, .ba-skill-cc, .ba-skill-special {
    position: relative;
    font-weight: 400;
    border-radius: 1rem;
    padding: 0rem 0.4rem;
    white-space: nowrap;
    cursor: default;
    transition: background-color ease var(--var-animation-duration), color ease var(--var-animation-duration);
}

.ba-skill-buff {
    background-color: var(--col-bg-buff);
    color: var(--col-text-buff);
}

.ba-skill-debuff {
    background-color: var(--col-bg-debuff);
    color: var(--col-text-debuff);
}

.ba-skill-cc {
    background-color: var(--col-bg-cc);
    color: var(--col-text-cc);
}

.ba-skill-special {
    background-color: var(--col-bg-status);
    color: var(--col-text-status);
}

.ba-buff-icon-spacer {
    display: inline-block;
    width: 22px;
}

.ba-student-panel {
    background-color: rgb(214, 234, 242);
    border-color: #fff !important;
    border-radius: 0.25rem;
    color: rgb(44, 69, 99);
}

.ba-student-search-group {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(242 242 242 / 26%);
    border-radius: 0.5rem;
    /* border-bottom: lightgrey 2px solid; */
}

.ba-student-search-group:first-child {
    margin-top: 0 !important;
}

.ba-student-search-group-header {
    height: 30px;
    margin-bottom: 0.3rem;
    /* border-bottom: lightgrey 2px solid; */
}

.ba-col-explosion {
    color: var(--col-text-explosive) !important;
    font-weight: 700;
}

.ba-col-pierce {
    color: var(--col-text-piercing) !important;
    font-weight: 700;
}

.ba-col-mystic {
    color: var(--col-text-mystic)  !important;
    font-weight: 700;
}

.ba-col-emphasis {
    color: var(--col-text-emphasis)  !important;
    font-weight: 700;
}

.ba-col-striker {
    color: #cc1a25 !important;
}

.ba-col-special {
    color: #006bff !important;
}

.tooltip-inner {
    cursor: default;
    max-width: 340px;
    min-width: 160px;
    background-color: var(--col-bg-tooltip);
    padding: 0.5rem;
    @include promote-layer;
    transition: transform 0.15s linear;
    transform: scale(0.9);
}

.bs-tooltip-top .tooltip-inner {
    transform-origin: bottom;
}

.bs-tooltip-start .tooltip-inner {
    transform-origin: right;
}

.bs-tooltip-end .tooltip-inner {
    transform-origin: left;
}

.bs-tooltip-bottom .tooltip-inner {
    transform-origin: top;
}

.tooltip.show .tooltip-inner {
    transform: scale(1);
}

.tooltip.show {
    opacity: 1;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.25));
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--col-bg-tooltip) !important;
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: var(--col-bg-tooltip) !important;
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: var(--col-bg-tooltip) !important;
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--col-bg-tooltip) !important;
}

.ba-tooltip-header{
    position: relative;
    margin: 0 0.25rem;
    display: flex;
    align-items: stretch;
}

.ba-tooltip-img {
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
}

.ba-tooltip-img img {
    object-fit: cover;
    object-position: center;
    @include sharp-img;
}

.img-scale-larger {
    transform: scale(1.2);
}

.ba-tooltip-title {
    white-space: pre-line;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 0.125rem;
}

.ba-tooltip-subtitle {
    white-space: pre-line;
    margin-right: 1rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
}

.ba-tooltip-rarity {
    white-space: pre-line;
    margin-left: 1rem;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
}

.ba-tooltip-body{
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-align: left;
    white-space: pre-line;
    background-color: var(--col-bg-tooltip-body);
}

#navbar-search-results {
    position: absolute;
    top: 38px;
    right: 0;
    color: var(--col-btn-primary);
    background-color: var(--col-btn-secondary);
    border-radius: 0 0 0.25rem 0.25rem;
    width: 340px;
    padding: 0 0.25rem 0.5rem 0.5rem;

    >div {
        padding-right: 0.25rem;
        max-height: 500px;
        @include scrollable(auto);
    }

}

#ba-navbar-search {
    padding-left: calc(1.5rem + 16px);
    width: 220px;
    transition: width var(--var-animation-duration) ease, background-color var(--var-animation-duration) ease;
}

#ba-navbar-search:focus, #navbar-search.has-text #ba-navbar-search {
    width: 340px;
    background-color: var(--col-btn-secondary);
}

#ba-navbar-search.results-open {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}

#navbar-search-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 11px;
    left: 11px;
    color: var(--col-theme-text-t);
    pointer-events: none;
}

#ba-navbar-search:focus+i, #navbar-search.has-text #navbar-search-icon {
    color: var(--col-theme-text);
}

.ba-search-result-item {
    padding: 0.5rem 0.25rem;
    display: flex;
    width: 100%;
    align-items: stretch;
    cursor: pointer;
    border-radius: 0.25rem;
    color: var(--col-theme-text);
    text-decoration: none;
    transition-duration: var(--var-animation-duration);
}

.ba-search-result-item:hover, .ba-search-result-item.selected {
    background-color: var(--col-btn-active-secondary);
    color: var(--col-btn-active-primary);
}

.ba-search-img {
    margin-right: 0.75rem;

    img {
        object-fit: cover;
        @include circular;

        width: 48px;
        height: 48px;
    }
}

.ba-search-name {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.25;
    @include truncate-text;
}

.ba-search-subtitle {
    white-space: pre-line;
    margin-right: 1rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
}

.ba-search-rarity {
    white-space: pre-line;
    margin-left: 1rem;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 700;
}

#ba-home-gacha-list>div {
    margin: 0.5rem;
    max-width: 100px;
}

.ba-node-quality-1, .ba-item-node-1 {
    background-color: var(--col-bg-node-normal);
}

.ba-node-quality-2, .ba-item-node-2 {
    background-color: var(--col-bg-node-rare);
}