<div class="container-xl py-md-3">
    <div class="row">
        <div id="ba-home" class="col-12 ba-page">
            <div id="ba-home-info" class="card p-2">
                <div class="card-body">
                    <div class="row g-1">
                        <div class="col-12 col-md-6 mb-4 px-2">
                            <div class="p-2 ba-panel">
                                <div class="d-flex align-items-end p-2">
                                    <img src="images/ui/Image_Char_Arona2.png" height="120">
                                    <h1 data-localize-id="ui,home_welcome"></h1>
                                </div>
                                <div>
                                    <p data-localize-id="ui,home_introduction"></p>
                                    <p data-localize-id="ui,home_change_server"></p>
                                    <h5 data-localize-id="ui,home_features"></h5>
                                    <ul data-localize-id="ui,home_features_list">
                                    </ul>
                                    <p data-localize-id="ui,home_translations_help"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4 px-2">
                            <h4 id="ba-home-server-info" class="mx-1 mb-1"></h4>
                            <h6 class="mx-1 mb-3"><small data-localize-id="ui,home_timezone"></small></h6>
                            <div class="container-fluid">
                                <div id="events-row-1" class="row">
                                    <div id="ba-home-gacha" class="col">
                                        <div class="ba-panel mb-2 p-2 w-100">
                                            <h6 id="ba-home-gacha-text" class="text-center" style="white-space: pre-wrap;"></h6>
                                            <div id="ba-home-gacha-list" class="d-flex justify-content-center selection-grid student selection-grid-flex" style="font-size: 0;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="events-row-2" class="row g-0 g-md-2">
                                    <div id="ba-home-event" class="col-md-6 col-12 mb-2">
                                        <div class="ba-panel p-2 w-100 h-100">
                                            <h6 id="ba-home-event-text" class="text-center" style="white-space: pre-wrap;"></h6>
                                            <div id="ba-home-event-list" class="d-flex justify-content-center mt-3 mb-2 selection-grid event selection-grid-flex" style="font-size: 0;"></div>
                                        </div>
                                    </div>
                                    <div id="ba-home-raid" class="col mb-2">
                                        <div class="ba-panel p-2 w-100 h-100">
                                            <h6 id="ba-home-raid-text" class="text-center" style="white-space: pre-wrap;"></h6>
                                            <div id="ba-home-raid-list" class="d-flex justify-content-center mt-3 mb-2 selection-grid raid selection-grid-flex" style="font-size: 0;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="ba-home-birthdays">
                                            <div class="ba-panel p-2">
                                                <div class="d-inline-block w-100 text-center">
                                                    <i><i class="fa-solid fa-cake-candles"></i> <span data-localize-id="ui,student_birthdays"></span></i>
                                                </div>
                                                <div id="ba-home-birthdays-list" class="d-flex justify-content-center flex-wrap">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap align-items-center justify-content-center mb-1">
                                <button class="btn btn-dark m-1" data-bs-toggle="modal" data-bs-target="#modal-changelog"><i class="fa-solid fa-file-lines me-2"></i><span data-localize-id="ui,changelog"></span></button>
                                <div class="m-1">
                                    <a href='https://ko-fi.com/A0A8CH8Q4' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com'/></a>
                                </div>
                            </div>
                            <small class="d-inline-block w-100 text-center"><p class="mb-1" data-localize-id="ui,home_footer_text"></p>
                                <a href='#' class="text-emphasis" data-bs-toggle="modal" data-bs-target="#ba-home-modal-privacy">Privacy</a> | <a href='https://github.com/lonqie/SchaleDB' class="text-emphasis">GitHub</a> | <a href='https://trello.com/b/7FnXxi05' class="text-emphasis">Trello</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="modal fade" id="ba-home-modal-privacy" tabindex="-1">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
        <div class="modal-content" style="height:auto;">
            <div class="modal-header" style="border-bottom: none;">
                <h5 class="modal-title">Privacy</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="ba-home-modal-privacy-content" class="modal-body p-3">
                <h2>Usage of Analytics Data</h2>
                <p>Schale DB uses Google Analytics to collect anonymised information about users including usage habits of this site. This data is used solely for the purpose of improving Schale DB and will never be used for advertising purposes. Aggregated usage data may occasionally be shared with third parties if the need arises, however no personal data is ever collected or shared.</p>
                <p>By using Schale DB, you agree to the above use of Google Analytics, and give consent for the cookies required by Google for this service to operate. Please refer to <a class="text-emphasis" href="https://policies.google.com/technologies/partner-sites">Google Analytics's Privacy Policy</a> for more information.</p>
            </div>
        </div>
    </div>
</div>